
#blogs i.fa {
    font-size: 14px;
     width: 10px; 
    height: 0px;
    padding: 0px 0;
    background: transparent;
    border-radius: 0%;
    color: #fff;
    box-shadow: 0;
}



.section-title h2{
    padding-top: 10%;
}