.style-back-1{
    text-transform: capitalize;
    /* text-decoration: underline; */
    /* background-color: #000000; */
    /* color: rgb(255, 16, 16); */
    line-height: 22px;
    color: #777;
    padding: 0px;
    cursor: pointer;
    width: 100% !important;
    /* height: 20px !important; */
    position: absolute;
    margin: 0px 0px 0px 14%;
    text-transform: uppercase;
    /* padding: 4px 16px 8px 0px; */
    width: 125px;
    font-family: open sans;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
}

.style-back-1:hover{
    text-decoration: underline;
    font-weight: bold;
	color: white;

}

@media (max-width: 650px){
    .style-back-1{
        position: absolute;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding-left: 30%;
        margin-bottom: -100px;   
    }
}


.section-title h2{
    padding-top: 10%;
}